body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 222, 245);
    color: rgb(0, 0, 0);
    font-size: small;
}

.start {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: black;
}

.start img {
    padding-left: 10%;
    width: 85px;
    height: auto;
}

.midden {
    display: flex;
    justify-content: center;
    align-items: center;

}

.midden h2 {
    margin-right: 10px;
}

.einde {
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
    color: black;
}

.einde a {
    margin-left: 20px;
    font-size: large;
    font-family: Arial;
    color: black;
    text-decoration: none
}

.einde a:hover {
    color: rgb(112, 112, 200);
}

.herocard {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 600px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
    align-items: center;
    justify-content: center;
}

.hero-card img {
    border-radius: 100px;
    max-width: 50px;
    width: 100%;
    height: auto;
}

.Leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top3herocard img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.elite-hero-card {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 2%;
    width: 300px;
    border: #303030 solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
    text-align: center;
    align-items: center;
}

.eliteherocard {
    display: flex;
    justify-content: space-around;
    width: 50px
}

.eliteherocard img {
    width: 140px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.top3-hero-card:nth-child(1) {
    border: rgb(161, 119, 1) solid;
    background-color: rgb(216, 175, 61);
    color: rgb(94, 70, 2);
}

.top3-hero-card:nth-child(2) {
    border: rgb(255, 251, 251) solid;
    background-color: rgb(192, 192, 192);
    color: rgb(117, 116, 116);
}

.top3-hero-card:nth-child(3) {
    border: rgb(138, 88, 39)solid;
    background-color: rgb(205, 127, 50);
    color: rgb(90, 58, 26);
}

.top3-hero-card:nth-child(3) svg {
    color: rgb(252, 223, 102);
}

.top3-hero-card:nth-child(2) svg {
    color: rgb(252, 223, 102);
}

.top3-hero-card:nth-child(1) svg {
    color: rgb(252, 223, 102);
}

main {
    overflow: hidden;
    position: relative;
}

.transparent-bg {
    opacity: 0.2;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
}

.top3herocard img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.top3herocard:nth-child(1) {
    padding-bottom: 0%;
}

.top3-hero-card {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 2%;
    border: #303030 solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
    text-align: center;
    align-items: center;
}

.top3herocard {
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.top3-hero-card:nth-child(2) {
    order: -1;

}

.top3-hero-card td:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.top3-hero-card td:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tooltip {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0px;
    margin-top: -15px;
    opacity: 0.5;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.larger-svg {
    width: 32px;
    height: 32px;
}

footer {
    background-color: rgb(223, 222, 245);
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: auto;
}

footer img {
    width: 85px;
    height: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-btn {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
        font-size: 20px;
            font-weight: 400;
}

.dropdown-btn:hover {
    background-color: rgb(112, 112, 200);
    ;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0a0a0a;
}

#button1 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#button1:hover {
    background-color: rgb(112, 112, 200);
    ;
}

#button2 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#button2:hover {
    background-color: rgb(112, 112, 200);
    ;
}

#button3 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#button3:hover {
    background-color: rgb(112, 112, 200);
    ;
}

#button4 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#button4:hover {
    background-color: rgb(112, 112, 200);
    ;
}

#button5 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#button5:hover {
    background-color: rgb(112, 112, 200);

}

.dropdown2 {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10px;
}

.dropdown2-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown2:hover .dropdown2-content {
    display: flex;
    flex-direction: column;
}

.dropdown2-btn {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown2-btn:hover {
    background-color: rgb(112, 112, 200);
    ;
}

.dropdown2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown2-content a:hover {
    background-color: #0a0a0a;
}

#type1 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#type1:hover {
    background-color: rgb(112, 112, 200);
    ;
}

#type2 {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-size: 20px;
        font-weight: 400;
}

#type2:hover {
    background-color: rgb(112, 112, 200);

}

.star-C {
    color: rgb(0, 204, 255);
}

.bi {
    width: 32px;
    height: 32px;
}

.top3-hero-number {
    display: flex;
    align-items: center;
}

.elite-hero-number {
    display: flex;
    align-items: center;
}

.hero-number {
    display: flex;
    align-items: center;
}

.star-A {
    color: rgb(230, 0, 255);
}

.star-B {
    color: rgb(0, 115, 255);
}

.star-S {
    color: rgb(255, 140, 0);
}

.star-C {
    color: rgb(0, 255, 26);
}