body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.top {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 222, 245);
    color: rgb(0, 0, 0);
    font-size: small;
}

.start {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: black;
}

.start img {
    padding-left: 10%;
    width: 85px;
    height: auto;
}

.einde {
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
    color: black;
}

.einde a {
    margin-left: 20px;
    font-size: large;
    font-family: Arial;
    color: black;
    text-decoration: none
}

.einde a:hover {
    color: rgb(112, 112, 200);
}

.herocard {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 600px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
    align-items: center;
    justify-content: center;
}

.hero-card img {
    border-radius: 100px;
    max-width: 50px;
    width: 100%;
    height: auto;
}
.Leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elite-hero-card {
    margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 2%;
        width: 600px;
        border-radius: 10px;
        border: #adadad solid;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f1f0f0;
        align-items: center;
        justify-content: center;
}