body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  .top {
      background-color: rgb(255, 255, 255);
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 222, 245);
    color: rgb(0, 0, 0);
    font-size: small;
}

.start {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: black;
}

.start img {
    padding-left: 10%;
    width: 85px;
    height: auto;
}

.einde {
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
    color: black;
}

.einde a {
    margin-left: 20px;
    font-size: large;
    font-family: Arial;
    color: black;
    text-decoration: none
}

.einde a:hover {
    color: rgb(112, 112, 200);
}

.top {
    display: flex;
}

.card {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 600px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card img {
    width: 300px;
    border-radius: 5px;
}

.card-content {
    flex: 1;
    padding: 20px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #3d3939;
}
.card2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 400px;
    padding: 20px;
    padding-top: 0%;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card2 img {
    width: 100%;
    border-radius: 5px;
}

.card2 h2 {
    color: #333;
}

.card2 p {
    color: #3d3939;
}
.Devider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: small;
}
.Devider img {
    width: 85px;
    height: auto;
    margin: 0 auto;
}
.secondpart {
    background-color: #535050;
    margin: 0%;
}
.card3 {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border: #ffffff solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #5e5e5e;
}

.card3 img {
    width: 300px;
    border-radius: 5px;
}

.card3-content {
    flex: 1;
    padding: 20px;
}

.card3 h2 {
    color: #333;
}

.card3 p {
    color: #3d3939;
}
.footer {
    background-color: rgb(223, 222, 245);
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;align-items: center;
}
.footer img {
    width: 85px;
    height: auto;
}