body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 222, 245);
    color: rgb(0, 0, 0);
    font-size: small;
}

.start {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: black;
}

.start img {
    padding-left: 10%;
    width: 85px;
    height: auto;
}

.einde {
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
    color: black;
}

.einde a {
    margin-left: 20px;
    font-size: large;
    font-family: Arial;
    color: black;
    text-decoration: none
}

.einde a:hover {
    color: rgb(112, 112, 200);
}

.top {
    display: flex;
}
.wanted {
    display: flex;
}
.card {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 700px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card img {
    width: 300px;
    border-radius: 5px;
}

.card-content {
    flex: 1;
    padding: 20px;
}
.card-content {
    flex: 1;
    padding: 20px;

}

.card-content h4 {
    font-size: 15px;
    font-weight: 400;
}

.card-content h3 {
    font-size: 20px;
    font-weight: 400;
}

.card-content h1 {
    font-size: 40px;
    font-weight: 400;
}

.card h2 {
    color: #333;
}

.card p {
    color: #3d3939;
}
.card2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card2 img {
    width: 300px;
    border-radius: 5px;
}

.card2 h2 {
    color: #333;
}

.card2 p {
    color: #3d3939;
}
.Devider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: small;
}
.Devider img {
    width: 85px;
    height: auto;
    margin: 0 auto;
}
.secondpart {
    background-color: #535050;
    margin: 0%;
}
.card3 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: #ffffff solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #5e5e5e;
    height: 250px;
}

.card3 img {
    width: 300px;
    border-radius: 5px;
}

.card3-content {
    flex: 1;
    padding: 20px;
}

.card3 h2 {
    color: #333;
}

.card3 p {
    color: #3d3939;
}
.Devider2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: small;
    height: 10px;
}

.wanted {
    display: flex;
}

.card4 {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 700px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card4 img {
    width: 300px;
    border-radius: 5px;
}

.card2-content {
    flex: 1;
    padding: 20px;

}
.card2-content h4 {
    font-size: 15px;
    font-weight: 400;
}
.card2-content h3 {
    font-size: 20px;
    font-weight: 400;
}
.card2-content h1 {
    font-size: 40px;
    font-weight: 400;
}

.card4 h2 {
    color: #333;
}

.card4 p {
    color: #3d3939;
}

.card5 {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card5 img {
    width: 300px;
    border-radius: 5px;
}

.card5 h2 {
    color: #333;
}

.card5 p {
    color: #3d3939;
}
.transparent-bg {
    opacity: 0.2;
    position: fixed;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
}
footer {
    background-color: rgb(223, 222, 245);
    color: #000000;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: auto;
}

footer img {
    width: 85px;
    height: auto;
}
.top3herocard img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.top3-hero-card:nth-child(1) {
    border: rgb(161, 119, 1) solid;
    background-color: rgb(216, 175, 61);
    color: rgb(94, 70, 2);
}

.top3-hero-card:nth-child(2) {
    border: rgb(255, 251, 251) solid;
    background-color: rgb(192, 192, 192);
    color: rgb(117, 116, 116);
}

.top3-hero-card:nth-child(3) {
    border: rgb(138, 88, 39)solid;
    background-color: rgb(205, 127, 50);
    color: rgb(90, 58, 26);
}

.top3-hero-card:nth-child(3) svg {
    color: rgb(252, 223, 102);
}

.top3-hero-card:nth-child(2) svg {
    color: rgb(252, 223, 102);
}

.top3-hero-card:nth-child(1) svg {
    color: rgb(252, 223, 102);
}
.top3herocard img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.top3herocard:nth-child(1) {
    padding-bottom: 0%;
}

.top3-hero-card {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 2%;
    border: #303030 solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
    text-align: center;
    align-items: center;
}

.top3herocard {
    display: flex;
    justify-content: end;
    width: 120px;
    margin-right: 10px;
}

.top3-hero-card:nth-child(2) {
    order: -1;

}

.top3-hero-card td:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.top3-hero-card td:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
}
.top3-hero-number {
    display: flex;
    align-items: center;
}