body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.transparent-bg {
    background-image: url('../Hero_Association_Headquarters.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0.2;
}
.top {
    background-color: rgb(255, 255, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(223, 222, 245);
    color: rgb(0, 0, 0);
    font-size: small;
}

.start {
    display: flex;
    align-items: center;
    font-family: Arial;
    color: black;
}

.start img {
    padding-left: 10%;
    width: 85px;
    height: auto;
}

.einde {
    display: flex;
    justify-content: end;
    padding-right: 5%;
    align-items: center;
    color: black;
}

.einde a {
    margin-left: 20px;
    font-size: large;
    font-family: Arial;
    color: black;
    text-decoration: none
}

.einde a:hover {
    color: rgb(112, 112, 200);
}
.card {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    width: 600px;
    border-radius: 10px;
    border: #adadad solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f1f0f0;
}

.card img {
    width: 300px;
    border-radius: 5px;
}

.card-content {
    flex: 1;
    padding: 20px;
}

.card h2 {
    color: #333;
}

.card p {
    color: #3d3939;
}